/* Chọn tất cả thẻ <title> có chứa từ "tuhoc.cc" */
[title~="tuhoc.cc"] {
  color: yellow;
  text-decoration: none;
}
/* chọn tất cả thẻ <title> có chứa chuỗi "tuhoc.cc" */
[title*="tuhoc.cc"] {
  color: yellow;
  text-decoration: none;
}
/* chỉ tác động lên thẻ a có href */
a[href] {
  color: red;
  text-decoration: none;
}
a[target="_blank"] {
  color: lightcoral;
  text-decoration: none;
}
/* chọn tất cả phần tử có thuộc tính href */
[href] {
  color: blue;
  text-decoration: none;
}
/* chọn phần tử, thuộc tính title bắt đầu bằng "pic" */
[title|="pic"] {
  color: yellow;
  text-decoration: none;
}
/* chọn phần tử, thuộc tính title bắt đầu bằng "pic", không quan tâm space đằng sau */
[title^="pic"] {
  color: yellow;
  text-decoration: none;
}
